@model LibApp.Models.Book

@{
    ViewBag.Title = "Random book";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // var book = ViewBag.Book as Book;
    var book = ViewData["FirstBook"] as Book; // casting is required here
}

@*Use for direct object passing from controller return type f.e. return View(firstBook)*@
@*<h2>@Model.Title</h2>*@

@*Use for ViewBag or ViewData*@
<h2>@book.Title</h2>
