@model IEnumerable<LibApp.Models.Customer>

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<a class="btn btn-primary" asp-action="CustomerForm">New Customer</a>

@if (!Model.Any())
{
    <p>There are no customers yet.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th colspan="1">Customer</th>
                <th colspan="2">Membership type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td><a asp-action="Edit" asp-route-id="@customer.Id">@Html.DisplayFor(modelItem => customer.Name)</a></td>
                    <td>@customer.MembershipType.Name</td>
                    <td><a asp-action="Details" asp-route-id="@customer.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}